<header
  id="header"
  class="Header"
>
  <div class="Header__block" routerLink="/">
    <div class="Header__img">
      <app-logo></app-logo>
    </div>

    <div class="Header__logo">NgRx Game Shop</div>

  </div>
  <ul class="Header__menu">
    <li class="Header__menuItem"><a routerLink="/catalog">catalog</a></li>
    <li class="Header__menuItem"><a routerLink="/orders">orders</a></li>
    <li class="Header__menuItem"><a routerLink="/basket">cart</a></li>
    <li class="Header__menuItem"><a routerLink="/profile">profile</a></li>
  </ul>
</header>
