<header
  class="Header"
  id="header"
>
  <div class="Header__block">
    <div class="Header__img" routerLink="/catalog">
      <app-logo></app-logo>
    </div>

    <div class="Header__logo" routerLink="/catalog">NgRx Game Shop</div>

    <div class="Header__symbols">
      <app-funds-symbol></app-funds-symbol>
      <!--      <OrdersSymbol />-->
    </div>

  </div>
  <ul class="Header__menu">
    <li class="Header__menuItem "><a class="link" routerLink="/catalog"
                                     routerLinkActive="link-active"
                                     routerLinkActiveOptions="{exact:true}">catalog</a></li>
    <li class="Header__menuItem "><a class="link" routerLink="/orders"
                                     routerLinkActive="link-active">orders</a></li>
    <li class="Header__menuItem "><a class="link" routerLink="/basket"
                                     routerLinkActive="link-active">cart</a></li>
    <li class="Header__menuItem "><a class="link" routerLink="/profile"
                                     routerLinkActive="link-active">profile</a></li>
    <li class="Header__menuItem "><a class="link" routerLink="/develop"
                                     routerLinkActive="link-active">develop</a></li>
  </ul>
</header>
