.Header {
  height: var(--header-height);
  background-color: var(--header-color);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__block {
    display: flex;
    align-items: center;
  }
  &__symbols {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__logo {
    font-family: "Great Vibes", cursive;
    font-size: var(--header__logo-font-size);
    text-decoration: none;
    color: var(--header__logo-color);
    line-height: 5rem;
    margin-top: 1.8rem;
    margin-left: 1.5rem;
    margin-right: 10rem;
  }
  &__img {
    width: 5rem;
    height: 5rem;
    margin-left: 2rem;
    svg {
      width: 100% !important;
      height: 100% !important;
      display: block;
    }
  }
  &__menu {
    padding: 0 7rem;
    display: flex;
    justify-content: flex-end;
  }

  &__menuItem {
    margin-right: 3rem;
    &:last-of-type {
      margin-right: 0rem;
    }
  }
}
