<div class="Profile">
  <div>Profile</div>
  <div>for debug:</div>

  <div class="Profile__funds">
    <button
      (click)="handleDecreaseFunds()"
      class="rs-button"
    >
      - {{ fundsStep }}
    </button>
    <app-funds-symbol></app-funds-symbol>
    <button
      (click)="handleIncreaseFunds()"
      class="rs-button"
    >
      + {{ fundsStep }}
    </button>
    <button
      (click)="handleClearFunds()"
      class="rs-button"
    >
      clear
    </button>
  </div>


  <div class="Profile__orders">
    <!--    <OrdersSymbol />-->
    <button
      (click)="handleClearOrders()"
      class="rs-button"
    >
      clear
    </button>
  </div>
  <div class="Profile__basket">
    <!--    <BasketSymbol class="Profile__BasketSymbol" />-->
    <button
      (click)="handleClearBasket()"
      class="rs-button"
    >
      clear
    </button>
  </div>
</div>
