
.Catalog {
  display: grid;
  grid-template-columns: minmax(30rem, 0.5fr) 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 5rem;
  grid-template-areas:
        'search goods goods goods  '
        'filters goods goods goods  '
        'filters pagination pagination pagination  ';
  gap: 2rem;
  padding: 1rem;

  &__CatalogSearch {
    grid-area: search;
  }

  &__CatalogFilter {
    grid-area: filters;
  }

  &__GoodsList {
    grid-area: goods;
  }

  &__Pagination {
    grid-area: pagination;
  }
}
