<div class="Catalog">
  <!--  {status === GoodsStatus.LOADING && <h1>Loading...</h1>}
    {status === GoodsStatus.REJECTED && <h1>Error: {error}</h1>}
    <CatalogSearch class="Catalog__CatalogSearch" />
    <CatalogFilter class="Catalog__CatalogFilter" />-->

  <!--  <GoodsList
      class="Catalog__GoodsList"
      endIndex)} goods={filteredGoods.slice(startIndex,
    />-->
  <app-goods-list class="Catalog__GoodsList"></app-goods-list>

  <!-- <Pagination
     class="Catalog__Pagination"
     pageCount={pageCount}
     pageNumber={page}
     onPrev={handlePrev}
     onNext={handleNext}
     onPageSize={handlePageSize}
   />-->
</div>
