<div className="Catalog">
  <!-- {status === GoodsStatus.LOADING && <h1>Loading...</h1>}
   {status === GoodsStatus.REJECTED && <h1>Error: {error}</h1>}
   <CatalogSearch className="Catalog__CatalogSearch" />
   <CatalogFilter className="Catalog__CatalogFilter" />
   <GoodsList
     className="Catalog__GoodsList"
     goods={filteredGoods.slice(startIndex, endIndex)}
   />
   <Pagination
     className="Catalog__Pagination"
     pageCount={pageCount}
     pageNumber={page}
     onPrev={handlePrev}
     onNext={handleNext}
     onPageSize={handlePageSize}
   />-->
</div>
