.Profile {
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
  justify-content: center;
  align-content: flex-start;
  gap: 5rem;
  &__funds {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  &__orders {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  &__basket {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  &__BasketSymbol {
    position: relative;
  }
}
