.FundsSymbol {
  &__link {
    text-decoration: none;
  }

  &__container {
    display: flex;
    align-items: flex-end;
  }

  &__img {
    width: 4rem;
    height: 4rem;
  }

  &__amount {
    color: var(--header__logo-color-dark);
    height: 3rem;
    text-shadow: 3px 3px 5px gold;
  }
}
